html {
    width: 100%;
    height: 100%;
}
/*字體*/
@font-face {
      font-family: gill_sans_mt;
      src: url(fonts/gill_sans_mt.TTF);
}
@font-face {
      font-family: calibri;
      src: url(fonts/calibri.ttf);
}
@font-face {
      font-family: century_gothic_bold;
      src: url(fonts/century_gothic_bold.TTF);
}
/*navbar*/
.navbar {
  background-color:  #E0E7EF;
}
.navbar-header{
  background-color: #E0E7EF;
  position: absolute;
  left:5%;
}
.navbar-collapse ul li a{
  background-color:  #E0E7EF;
  color: #2B394A!important;
  list-style: none;
  font-family: calibri;
  font-size: 16pt;
  padding-bottom: 0.5rem;
}
.navbar-collapse ul li:hover{
  background-color:  #E0E7EF;
  border-bottom: 3px solid  #2B394A;
  font-family: calibri;
  color: #2B394A;
}
#studiomark{
  width:38%;
  padding-top: 2px
}

/*淺藍背景*/
body {
  background-color: #E0E7EF;
  width: 100%;
  height: 100%;
}

/*home*/
.home {
  background-color: #2B394A;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: gill_sans_mt;
  font-size: 120pt;
  padding-top: 2%;
  z-index: 0;
}
h1{ /*FINTECH*/
font-size: 110%;
letter-spacing: 10pt;
padding-top: 2%;
z-index: 2;
position: relative;
} 
#chart{
  width:80%;
  position: relative;
  left: 23%;
  top:-80px;
  z-index: 1;
}
#creditcard{
  width:30%;
  position: absolute;
  right:83%;
  z-index: -1;
}
#home_mouse{
  width: 2.5%;
  position: absolute;
  left:16%;
  top:16%;
  -webkit-animation-name: mouse1; /*動畫名稱*/
  -moz-animation-name: mouse1;
  -webkit-animation-duration: 1s; 
  -moz-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite; /*重複次數*/
  -moz-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate; /*來回滑動*/
  -moz-animation-direction: alternate;
  -webkit-animation-timing-function: linear; /*速度一致*/
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes mouse1 {
  0%{ left:16%;top:16%; }
  100%{ left:16%; top:17.5%}
}
@-moz-keyframes mouse1{
  0%{ left:16%;top:16%; }
  100%{ left:16%; top:17.5%}
}
#home_line{
 width: 0.75%;
 position: absolute;
  left:16.85%;
  top:15.5%;
}
#hint{
  font-size: 13%;
  position: absolute;
  left:8%;
  top:14%;
  font-family: calibri;
}
/*about*/
.about {
  background: #2B394A;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 12%;
  padding-bottom: 15%
}
#brown{
  background-color: #BB966A;
  width:95%;
  height: 100%;
  position: relative;
  right:17%;
}
#pic1{
  width:60%;
  position: relative;
  left:7%;
  top:40px;
}
#white1{
background-color: white;
text-align: center;
width:75%;
height: 90%;
position: absolute;
left:66%;
top:50px;
padding-top: 5%;
padding-right: 2%
}
h2 { /*how it work*/
  color: black;
  font-family: century_gothic_bold;
  font-weight: 900;
  font-size: 3vw
}

#icon1{ 
  width: 45%;
  position: relative;
 top:50px;
  -webkit-animation-name: icon1; /*動畫名稱*/
  -moz-animation-name: icon1;
  -webkit-animation-duration: 0.5s; 
  -moz-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1; /*重複次數*/
  -moz-animation-iteration-count: 1;
}
@-webkit-keyframes icon1 {
  0%{ opacity: 0 }
  100%{ opacity: 1}
}
@-moz-keyframes icon1{
  0%{ opacity: 0}
  100%{ opacity: 1}
}
#how1{ /*invest anytime*/
  font-family: calibri;
  color: black;
  font-size: 1.5vw;
  position: relative;
  top:80px;
  -webkit-animation-name: how1; /*動畫名稱*/
  -moz-animation-name: how1;
  -webkit-animation-duration: 0.5s; 
  -moz-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1; /*重複次數*/
  -moz-animation-iteration-count: 1;
}
@-webkit-keyframes how1 {
  0%{ opacity: 0 }
  100%{ opacity: 1}
}
@-moz-keyframes how1{
  0%{ opacity: 0}
  100%{ opacity: 1}
}

#icon2{
width: 25%;
position: relative;
top: 40px;
right: 10px;
  -webkit-animation-name: icon2; /*動畫名稱*/
  -moz-animation-name: icon2;
  -webkit-animation-duration: 1s; 
  -moz-animation-duration: 1s;
  -webkit-animation-iteration-count: 1; /*重複次數*/
  -moz-animation-iteration-count: 1;
}
@-webkit-keyframes icon2 {
  0%{ opacity: 0 }
  50% {opacity: 0}
  100%{ opacity: 1}
}
@-moz-keyframes icon2{
  0%{ opacity: 0}
  50% {opacity: 0}
  100%{ opacity: 1}
}
#how2{ /*watch it grow*/
  font-family: calibri;
  color: black;
  font-size: 1.5vw;
  position: relative;
  top:77px;
  right: 10px;
  -webkit-animation-name: how2; /*動畫名稱*/
  -moz-animation-name: how2;
  -webkit-animation-duration: 1s; 
  -moz-animation-duration: 1s;
  -webkit-animation-iteration-count: 1; /*重複次數*/
  -moz-animation-iteration-count: 1;
}
@-webkit-keyframes how2 {
  0%{ opacity: 0 }
  50% {opacity: 0}
  100%{ opacity: 1}
}
@-moz-keyframes how2{
  0%{ opacity: 0}
  50% {opacity: 0}
  100%{ opacity: 1}
}
#icon3{
width: 45%;
position: relative;
top:50px;
  -webkit-animation-name: icon3; /*動畫名稱*/
  -moz-animation-name: icon3;
  -webkit-animation-duration: 1.5s; 
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1; /*重複次數*/
  -moz-animation-iteration-count: 1;
}
@-webkit-keyframes icon3 {
  0%{ opacity: 0 }
  67% {opacity: 0}
  100%{ opacity: 1}
}
@-moz-keyframes icon3{
  0%{ opacity: 0}
  67% {opacity: 0}
  100%{ opacity: 1}
}
#how3{ /*withdraw anytime*/
  font-family: calibri;
  color: black;
  font-size: 1.5vw;
  position: relative;
  top:85px;
  right: 15px;
  -webkit-animation-name: how3; /*動畫名稱*/
  -moz-animation-name: how3;
  -webkit-animation-duration: 1.5s; 
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1; /*重複次數*/
  -moz-animation-iteration-count: 1;
}
@-webkit-keyframes how3 {
  0%{ opacity: 0 }
  67% {opacity: 0}
  100%{ opacity: 1}
}
@-moz-keyframes how3{
  0%{ opacity: 0}
  67% {opacity: 0}
  100%{ opacity: 1}
}
#about_mouse{
  width: 1.5%;
  position: absolute;
  right: 15%;
  top:45%;
  -webkit-animation-name: mouse2; /*動畫名稱*/
  -moz-animation-name: mouse2;
  -webkit-animation-duration: 1s; 
  -moz-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite; /*重複次數*/
  -moz-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate; /*來回滑動*/
  -moz-animation-direction: alternate;
  -webkit-animation-timing-function: linear; /*速度一致*/
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes mouse2 {
  0%{ right: 15%;top:45%; }
  100%{ right: 15%; top:46%}
}
@-moz-keyframes mouse2{
  0%{ right: 15%;top:45%; }
  100%{ right: 15%; top:46%}
}

#about_line{
 width: 0.5%;
 position: absolute;
 right: 15.5%;
  top:44.5%;
}

/*video*/
.video {
  background: #2B394A;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 15%
  }
#red{
  background-color: #C35348;
  width:100%;
  height: 100%;
  position: relative;
  left:18%;
}
#youtube{
  width:85%;
  position: relative;
  left:7%;
  top:60px;
}
#white2{
background-color: white;
width:45%;
height: 90%;
position: absolute;
top:25%;
right:90%;
padding: 4% 3% 3% 3%
}
h3{ /*Fintech:silicon*/
  color: black;
  font-size:2vw;
  font-weight: 900;
  letter-spacing: 3pt;
  font-family: century_gothic_bold;
}
#description{
  color: black;
  font-size: 1.2vw;
  font-family: calibri;
  position: relative;
  top:20px;
}
#video_mouse{
 width:2%;
  position: absolute;
  bottom: 33%;
  right:-2%;
  -webkit-animation-name: mouse3; /*動畫名稱*/
  -moz-animation-name: mouse3;
  -webkit-animation-duration: 1s; 
  -moz-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite; /*重複次數*/
  -moz-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate; /*來回滑動*/
  -moz-animation-direction: alternate;
  -webkit-animation-timing-function: linear; /*速度一致*/
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes mouse3 {
  0%{ right: -2%;bottom: 33%; }
  100%{ right: -2%;bottom: 32%}
}
@-moz-keyframes mouse3 {
  0%{ right: -2%;bottom: 33%; }
  100%{ right: -2%; bottom: 32%}
}
#video_line{
width: 0.75%;
 position: absolute;
bottom: 31%;
right:-1.5%
}

/*login*/
.login {
  background:#2B394A;
  display: table;
  width: 100%;
  height: 100%;
padding-top: 10%;
padding-bottom: 20%
}

#darkblue{
  background-color: #2C2B3B;
}
#phone{
  width: 18%;
  position: absolute;
  bottom: 7%;
  left: 3%

}
h4{ /*create an account for free*/
  color: white;
  font-size: 3vw;
  font-family: calibri;
  padding-bottom: 5%;
  padding-top: 5%
}

form {
    margin-left:auto;
    margin-right:auto;
    width: 110%;
    height: 100%;
    padding-right: 5%;
    padding-left: 30%;
    padding-bottom: 5%;
    position: relative;
    right:5%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #2A2A3C; 
    overflow: hidden; 
    font-family: calibri;
}

input {
    height: 50px;
    width:100%;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 9px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: calibri;
    font-size:18px;
    color:#fff;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name,input.email,input.password, input.phone {
    background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px;
    padding-left:20px;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
    color: #fff; 
}

input:focus{ 
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}

.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: calibri;
  color: #ffffff;
  font-size: 20px;
  background: #F39800;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #EB6100;
  text-decoration: none;
}
