html {
    width: 100%;
    height: 100%;
}
/*字體*/
@font-face {
      font-family: gill_sans_mt;
      src: url(fonts/gill_sans_mt.TTF);
}
@font-face {
      font-family: calibri;
      src: url(fonts/calibri.ttf);
}
@font-face {
      font-family: century_gothic_bold;
      src: url(fonts/century_gothic_bold.TTF);
}
/*navbar*/
.navbar {
  background-color:  #E0E7EF;
}
.navbar-header{
  background-color: #E0E7EF;
  position: absolute;
  left:5%;
}
.navbar-collapse ul li a{
  background-color:  #E0E7EF;
  color: #2B394A!important;
  list-style: none;
  font-family: calibri;
  font-size: 16pt;
  padding-bottom: 0.5rem;
}
.navbar-collapse ul li:hover{
  background-color:  #E0E7EF;
  border-bottom: 3px solid  #2B394A;
  font-family: calibri;
  color: #2B394A;
}
#studiomark{
  width:38%;
  padding-top: 2px
}

/*主體*/
body {
  background-color: #E0E7EF;
  width: 100%;
  height: 100%;
}

/*home*/
.home {
  background-color: #2B394A;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: gill_sans_mt;
  font-size: 120pt;
  padding-top: 2%;
  z-index: 0;
}
h1{ /*FINTECH*/
font-size: 110%;
letter-spacing: 10pt;
padding-top: 2%;
z-index: 2;
position: relative;
} 
#chart{
  width:80%;
  position: relative;
  left: 23%;
  top:-80px;
  z-index: 1;
}
#creditcard{
  width:30%;
  position: absolute;
  right:83%;
  z-index: -1;
}
#home_mouse{
  width: 2.5%;
  position: absolute;
  left:16%;
  top:16%;
}
#home_line{
 width: 0.75%;
 position: absolute;
  left:16.85%;
  top:15.5%;
}
#hint{
  font-size: 13%;
  position: absolute;
  left:8%;
  top:14%;
  font-family: calibri;
}
/*about*/
.about {
  background: #2B394A;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 12%;
  padding-bottom: 15%
}
#brown{
  background-color: #BB966A;
  width:95%;
  height: 100%;
  position: relative;
  right:17%;
}
#pic1{
  width:60%;
  position: relative;
  left:7%;
  top:40px;
}
#white1{
background-color: white;
text-align: center;
width:75%;
height: 90%;
position: absolute;
left:66%;
top:50px;
padding-top: 5%;
padding-right: 2%
}
h2 { /*how it work*/
  color: black;
  font-family: century_gothic_bold;
  font-weight: 900;
  font-size: 3vw
}

#icon1{ 
  width: 45%;
  position: relative;
 top:50px;

}
#how1{ /*invest anytime*/
  font-family: calibri;
  color: black;
  font-size: 1.5vw;
  position: relative;
  top:80px;
}
#icon2{
width: 25%;
position: relative;
top: 40px;
right: 10px

}
#how2{ /*watch it grow*/
  font-family: calibri;
  color: black;
  font-size: 1.5vw;
  position: relative;
  top:77px;
  right: 10px
}
#icon3{
width: 45%;
position: relative;
top:50px;

}
#how3{ /*withdraw anytime*/
  font-family: calibri;
  color: black;
  font-size: 1.5vw;
  position: relative;
  top:85px;
  right: 15px
}
#about_mouse{
  width: 1.5%;
  position: absolute;
  right: 15%;
  top:45%;
}
#about_line{
 width: 0.5%;
 position: absolute;
 right: 15.5%;
  top:44.5%;
}

/*video*/
.video {
  background: #2B394A;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 15%
  }
#red{
  background-color: #C35348;
  width:100%;
  height: 100%;
  position: relative;
  left:18%;
}
#youtube{
  width:85%;
  position: relative;
  left:7%;
  top:60px;
}
#white2{
background-color: white;
width:45%;
height: 90%;
position: absolute;
top:25%;
right:90%;
padding: 4% 3% 3% 3%
}
h3{ /*Fintech:silicon*/
  color: black;
  font-size:2vw;
  font-weight: 900;
  letter-spacing: 3pt;
  font-family: century_gothic_bold;
}
#description{
  color: black;
  font-size: 1.2vw;
  font-family: calibri;
  position: relative;
  top:20px;
}
#video_mouse{
 width:2%;
  position: absolute;
  bottom: 33%;
right:-2%
}
#video_line{
width: 0.75%;
 position: absolute;
bottom: 31%;
right:-1.5%
}

/*login*/
.login {
  background:#2B394A;
  display: table;
  width: 100%;
  height: 100%;
padding-top: 10%;
padding-bottom: 20%
}

#darkblue{
  background-color: #2C2B3B;
}
#phone{
  width: 18%;
  position: absolute;
  bottom: 7%;
  left: 3%

}
h4{ /*create an account for free*/
  color: white;
  font-size: 3vw;
  font-family: century_gothic;
  padding-bottom: 5%;
  padding-top: 5%
}

form {
    margin-left:auto;
    margin-right:auto;
    width: 110%;
    height: 100%;
    padding-right: 5%;
    padding-left: 30%;
    padding-bottom: 5%;
    position: relative;
    right:5%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #2A2A3C; 
    overflow: hidden; 
    font-family: calibri;
}

input {
    height: 50px;
    width:100%;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 9px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: calibri;
    font-size:18px;
    color:#fff;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name,input.email,input.password, input.phone {
    background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px;
    padding-left:20px;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
    color: #fff; 
}

input:focus{ 
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}

.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: calibri;
  color: #ffffff;
  font-size: 20px;
  background: #F39800;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #EB6100;
  text-decoration: none;
}
