html {
    width: 100%;
    height: 100%;
}
/*字體*/
@font-face {
      font-family: gill_sans_mt;
      src: url(fonts/gill_sans_mt.ttf);
}
@font-face {
      font-family: calibri;
      src: url(fonts/calibri.ttf);
}
@font-face {
      font-family: century_gothic;
      src: url(fonts/century_gothic.ttf);
}
/*navbar*/
.navbar {
    background-color: #E0E7EF;
    color: #2D3A4B;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
    outline: none;
}
.navbar-collapse ul li{
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: calibri;
  font-size: 16pt;
}
.navbar-collapse ul li:hover{
  border-bottom: 5px solid  #2D3A4B;
  padding-bottom: 0px;
  font-family: calibri;
  color: #2B394A
}
#studiomark{
  width:38%;
  padding-top: 2px
}

/*主體*/
body {
  width: 100%;
  height: 100%;
}

/*home*/
.home {
  background-color: #2B394A;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: gill_sans_mt;
  font-size: 120pt;
  z-index: 0
}
#home h1{
font-size: 80%;
letter-spacing: 15pt;
padding-top: 2%;
z-index: 2
} 
#chart{
  width:80%;
  position: relative;
  left: 20%;
  top:-50px;
  z-index: 1
}
#creditcard{
  width:30%;
  position: absolute;
  right:83%;
  z-index: -1
}

/*about*/
.about {
  background:#2B394A;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 15%
}
#brown{
  background-color: #BB966A;
  width:95%;
  height: 100%;
  position: relative;
  right:17%;
}
#pic1{
  width:60%;
  position: relative;
  left:7%;
  top:40px;
}
#white1{
background-color: white;
text-align: center;
width:75%;
height: 90%;
position: absolute;
left:66%;
top:50px;
padding-top: 5%
}
h2 {
  color: black;
  font-family: century_gothic;
  font-style: bold
}

#icon1{
  width: 50%;
  position: relative;
 bottom: 10px;

}
#how1{
  font-family: calibri;
  color: black;
  font-size: 12pt;
  position: relative;
  bottom: 10px
}
#icon2{
width: 30%;
position: relative;

}

#icon3{
width: 40%;
position: relative;

}

/*video*/

.video {
  background:#2B394A;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 15%
  }
#red{
  background-color: #C35348;
  width:100%;
  height: 100%;
  position: relative;
  left:18%;
}
#youtube{
  width:85%;
  position: relative;
  left:7%;
  top:60px;
}
#white2{
background-color: white;
width:45%;
height: 90%;
position: absolute;
top:25%;
right:90%;
padding: 4% 3% 3% 3%
}
h3{
  color: black;
  font-size: 200%;
  font-weight: 900;
  letter-spacing: 3pt;
  font-family: century_gothic;
}
#description{
  color: black;
  font-size: 100%;
  font-family: calibri;
}

/*login*/
.login {
  background:#2B394A;
  display: table;
  width: 100%;
  height: 100%;
padding-top: 15%;
padding-bottom: 20%
}

#darkblue{
  background-color: #2C2B3B;
  width:30%;
  height: 17.1%;
  position: absolute;
left:-12%

}
#pic3{
  height:13%;
  position: absolute;
  bottom:7%;
  left: -8%
}
h4{
  color: white;
  font-size: 32pt;
  font-family: century_gothic;
}

form {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 100%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    position: relative;
    left: 15%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #2A2A3C; 
    overflow: hidden; 
}

input {
    height: 48px;
    width:100%;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 9px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: calibri;
    font-size:18px;
    color:#fff;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name,input.email,input.password, input.phone {
    background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px;
    padding-left:20px;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
    color: #fff; 
}

input:focus{ 
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}

.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #F39800;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #EB6100;
  text-decoration: none;
}
